--find-links https://download.pytorch.org/whl/torch_stable.html

accelerate
torch==1.13.0+cu117
torchvision==0.14.0+cu117
fastai
diffusers
transformers
huggingface-hub
ipykernel
ipywidgets==7.7.1
torchsummary
opencv-python
RISE